<div class="treatment-index">
  <div class="wraper">
    <div class="card-global">
      <div class="row">

        <div class="col-xs-12 col-md-4 col-lg-4">
          <% if @institutions.size == 0 %>
            <% if @user_condition == "" %>
              <div class="card-index" style="width: 100%;">
                <h4 class="text-center">
                 <strong>Pedimos desculpas!</strong>
                </h4>
                <p><%= "Por favor, informe sua condição clínica na barra de busca no topo da página" %></p>
              </div>
            <% else %>
              <div class="card-index" style="width: 100%;">
                <h4 class="text-center">
                 <strong>Pedimos desculpas!</strong>
                </h4>
                   <p><%= "ALENTO não encontrou estudos clínicos no Brasil que esteja recrutando pacientes para a \"#{@user_condition.downcase}\" no momento" %></p>
              </div>
            <% end %>

          <% else %>

          <div class="title-card">
              <% if @institutions.size == 1 %>
                <h4>ALENTO encontrou <strong>1</strong> centro clínico que oferece tratamento para "<%= @user_condition.downcase %>"</h4>
              <% else %>
                <h4>ALENTO encontrou <strong><%= @institutions.size %></strong> centros clínicos que oferecem tratamento para "<%= @user_condition.downcase %>" perto de você</h4>
              <% end %>
            </div>

            <%= paginate @institutions_paginate %>
            <% @institutions_paginate.each do |institution| %>
              <div class="card-index col-xs-12 col-lg-4">
                <br>
                <p><%=institution.name%> está a somente
                <% @distance = institution.distance * 100 %>
                <% if @distance < 1 %>
                  <strong><%= @distance = @distance.round %> km</strong> de você
                <% else %>
                  <strong><%= @distance = (@distance / 100).round %> km</strong> de você
                <% end %>

                <% @institution_conditions = [] %>
                <% institution.trials.search_by_condition(@condition).each do |trial| %>
                  <% trial.condition.each do |condition| %>
                    <% condition = Disease.find_by(english: condition) %>
                    <% @institution_conditions << condition.portuguese %>
                  <% end %>
                <% end %>
                e oferece tratamentos para <strong><%= @institution_conditions.join(", ") %></strong></p>

                <%= link_to "Saiba mais", institution_path(institution, condition: @user_condition, distance: @distance), class: "btn btn-primary saiba-mais" %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="col-xs-12 col-lg-8">
          <!-- Lines added for Geocoding -->
          <div id="map" style="width: 100%; height: 800px;">

            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(14);
                    }
                  });
                });
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
