<div class="treatment-index">
  <div class="wraper">
    <div class="card-global">

      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
          <% if @institutions.size == 0 %>
            <% if @condition == "" %>
              <div class="card-index" style="width: 100%;">
                <h4 class="text-center">
                 <strong>Pedimos desculpas!</strong>
                </h4>
                <p><%= "Por favor, informe sua condição clínica na barra de busca no topo da página" %></p>
              </div>
            <% else %>
              <div class="card-index" style="width: 100%;">
                <h4 class="text-center">
                 <strong>Pedimos desculpas!</strong>
                </h4>
                   <p><%= "ALENTO não encontrou estudos clínicos no Brasil que esteja recrutando pacientes para a \"#{@condition.downcase}\" no momento" %></p>
              </div>
            <% end %>

          <% else %>

            <!-- removed paginate @institutions inside ruby brackets -->
            <div class="title-card">
              <h4>ALENTO encontrou <strong><%= "#{@institutions.size}" %></strong> centros clínicos que oferecem tratamento para <%= "#{@condition.downcase}" %></h4>
            </div>
            <% @institutions.each do |institution| %>
              <!-- code added to avoid showing repeated info -->
              <% if @check != institution %>
              <!-- code added to avoid showing repeated info -->
                <div class="card-index" style="width: 100%;">
                  <h5> <strong><%=institution.name%></strong></h5>
                  <div class="col-xs-12 col-lg-9">
                  <hr>
                    <!-- Added condition and distance from user to clinical center.
                    Should we keep the address showing? @jos31?  -->
                    <p>distância: 10km<p>
                    <p>tratamento para <%= @condition %></p>

                    <!-- removed institution address from index page -->

                  </div>
                  <div class="col-xs-12 col-lg-3">
                    <%= link_to "Conheça", institution_path(institution, condition: @condition), class: "btn btn-primary" %>

                  </div>
                '</div>
              <% end %>
              <!-- code added to avoid showing repeated info -->
              <% @check = institution %>
              <!-- code added to avoid showing repeated info -->
            <% end %>

          <% end %>

        </div>

        <div class="col-xs-12 col-lg-8">
          <!-- Lines added for Geocoding -->
          <div id="map" style="width: 100%; height: 1000px;">

            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(14);
                    }
                  });
                });
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
 </div>
</div>
