<head>
<% content_for :meta_title, "#{@institution.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @institution.address %>
</head>

<div class="modal fade" tabindex="-1" role="dialog" id="awareness">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">MENSAGEM DE ALENTO</h4>
      </div>
      <div class="modal-body">
        <p>
          Pesquisas clínicas são reguladas pela ANVISA. Por meio delas, são oferecidos ao paciente tratamentos gratuitos com medicamentos em fase experimental.

          Nossa plataforma busca trazer um ALENTO às pessoas em busca de tratamentos médicos, porém não podemos garantir a efetividade desses tratamentos, que são de responsabilidade da equipe médica que conduz o estudo.

          Ao clicar em QUERO CANDIDATAR, você autoriza que seus dados de contato sejam enviados para à equipe médica responsável.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
        <%= button_to "Estou Ciente", treatments_path, method: :get, class: "btn btn-primary" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="row text-center">
      <!-- code to add Traslation button from Google -->
      <div id="google_translate_element">
        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'pt', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
          }

        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
    <!-- end of code to add Traslation button from Google -->
    </div>

<div class="container treatment-card">
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="card-intitution-name">
          <h2><%= @institution.name %></h2>
        </div>
        <hr>

        <div class="text-center" id="title">
          <% if @trials.size == 1 %>
            <h4>Essa instituição conduz <strong>1</strong> pesquisa que oferece
            tratamento para <%= @condition %></h4>
          <% else %>
            <h4>Essa instituição conduz <strong><%= @trials.size %></strong> pesquisas que oferecem
            tratamento para <%= @condition %></h4>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <!-- beggining of map -->
        <div id="map"></div>
        <!-- Gmaps js: building the map -->
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                <!-- Create a map object and specify the DOM element for display -->
                var map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: <%= @institution.latitude %>, lng: <%= @institution.longitude %>},
                  scrollwheel: false,
                  zoom: 10
                });
              })
            <% end %>
          <% end %>
        <!-- end of map -->
        <p>endereço: <%= @institution.address.gsub(", ,",", ") %></p>
      </div>
    </div>


  <% @trials.each_with_index do |trial, index| %>
    <div class="card">
      <div class="row">
        <div class="col-xs-12 col-md-2">
          <h3><strong>Nº<%= index + 1%></strong></h3>
        </div>

        <div class="col-xs-12 col-md-8">
          <div class="title-research">
            <h3><%= trial.title %></h3>
          </div>
        </div>

        <div class="col-xs-12 col-md-2">
          <!-- button to show alert on screen -->
          <button data-toggle="modal" data-target="#awareness" class="btn btn-primary">Quero Candidatar</button>
        </div>
      </div>
      <hr>
      <div class="text-center col-xs-12 col-md-6 col-md-offset-6">
          <%= link_to "Visitar a webpage do estudo com informações detalhadas em Inglês", "https://www.clinicaltrials.gov/ct2/show/#{trial.trial_nct_id}", target: "_blank" %>
        </div>

      <div class="">
        <h4><strong><%= "Descrição da Pesquisa:" %></strong></h4>
        <p><%= trial.description %></p>

      </div>

      <div class="">
        <h4><strong><%= "Critérios de elegibilidade:" %></strong></h4>
        <p>São aceitos como voluntários  as seguintes pessoas</p>
        <p>Gêneros: <%= trial.eligibility.split(",")[0] %></p>
        <p>Idade mínima: <%= trial.eligibility.split(",")[1] %></p>
        <p>Idade máxima: <%= trial.eligibility.split(",")[2] %></p>
      </div>

      <div class="">
        <h4><strong><%= "Médicos Responsáveis:" %></strong></h4>
        <% @array = [] %>
        <% trial.doctors.each do |doctor| %>
        <% @array << doctor.name %>
        <% end %>
        <p><%= @array.join ", " %></p>

      </div>
    </div>
  <% end %>
</div>s
