<div class="row text-center">
  <!-- code to add Traslation button from Google -->
  <div id="google_translate_element">
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'pt', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
      }

    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
<!-- end of code to add Traslation button from Google -->
</div>

<!-- added if to hide modal when checking treatments from navbar dropdown menu -->
<% if params[:modal].nil? %>
  <!-- Email Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal_treatment">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Pronto! Verifique seu email.</h4>
        </div>
        <div class="modal-body">
          <p>
            Os médicos responsáveis pela pesquisa foram comunicados de sua candidatura ao tratamento.
            Em breve, você será contactado para dar prosseguimento ao processo de recrutamento.

            Caso deseje, você também pode se antecipar e entrar em contato com a instituição por meio das informações que lhe enviamos por email. Boa sorte!
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">sair</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>

<div class="container user-area">

  <h1 class="text-center">Central de Informações do Usuário</h1>

  <%= link_to "Retornar à busca", institutions_path(condition: ""), class:"btn btn-primary" %>

  <hr>
  <h4>Seja bem-vindo, <strong><%= current_user.first_name %> </strong>!</h4>
  <h4>Até a data atual, ALENTO conectou você aos seguintes estudos clínicos</h4>
  <br>

  <% @treatments.reverse.each_with_index do |treatment, index| %>
    <ul>
      <li>
        <p>Data de candidatura: <%= treatment.created_at.strftime("%d/%m/%Y") %></p>
      </li>
      <li>
        <p>Tratamento no: <%= index +1 %> : <%= treatment.trial.title %></p>
      </li>
      <li>
        <p>Centro clínico responsável: <%= treatment.institution.name %></p>
      </li>
      <li>
        <p><%= link_to "Informações Detalhadas em Inglês: #{treatment.trial.trial_nct_id}", "https://www.clinicaltrials.gov/ct2/show/#{treatment.trial.trial_nct_id}", target: "blank" %></p>
      </li>
    </ul>
    <br>
    <hr>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#modal_treatment').modal();
    });
  <% end %>
<% end %>
