<div class="treatment-index">
  <div class="wraper">
    <div class="card-global">


      <div class="row">

            <div class="col-xs-12 col-md-4 col-lg-4">
                <%= paginate @institutions %>
                <% @institutions.each do |institution| %>

                  <div class="card-index" style="width: 100%; height: 150px;">

                      <h4><%=institution.name%></h4>
                      <hr>
                      <div class="col-xs-9 col-lg-9">
                        <p><%=institution.address%></p>
                    </div >
                    <div class="col-xs-2 col-lg-2">
                      <button type="submit" class="btn btn-default">Pesquise</button>
                    </div>
                  </div>
                <% end %>
              </div>

        <div class="col-xs-12 col-lg-8">
          <!-- Lines added for Geocoding -->
          <div id="map" style="width: 100%; height: 900px;">

            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(14);
                    }
                  });
                });
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
 </div>
</div>
