
<div class="container">
  <div class="card-treatment">
    <div class="card-block">
      <div class="title-button">
        <h4 class="card-title"><%=Trial.first.title%></h4>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>

      <hr>
      <p class="card-text"><%=Trial.first.description%></p>
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <h6 class="card-subtitle">Condição: <%=Trial.first.condition%></h6>
        </div>
        <div class="col-xl-12 col-lg-6">
          <h6 class="card-subtitle">Elegibilidade: <%=Trial.first.eligibility%></h6>
        </div>
      </div>

      <div class="card-map">
        <%= link_to root_path do %>
          <%= image_tag "mapateste.jpg", style: "width:100%"
          ;%>
        <% end %>
      </div>
    </div>

  </div>

</div>





<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @treatment_coordinates.to_json %>;
      alert('Treatment institution coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
