<p><%= @greeting %></p>
<p><%= @briefintro %></p>
<p><%= @intro %></p>
<p><%= @institutionname %></p>
<p><%= @institutionaddress %></p>
<p><%= @medics %></p>
<p><%= @contactemail %></p>
<p><%= @contactphone %></p>
<p><%= @nctindentifier %></p>
<p><%= @reminder %></p>
<p><%= @ending %></p>
<p><%= @att %></p>
<p><%= @alentoteam %></p>
