<div class="navbar-wagon">
    <!-- Logo -->
    <div class="navbar-wagon-brand">
      <div >
        <%= link_to root_path do %>
          <%= image_tag "esteto.png" %>
        <% end %>
      </div>
      <h1>Alento</h1>
    </div>
    <div class="form-inline hidden-xs hidden-sm">

      <%= form_tag(institutions_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :condition, params[:condition], placeholder: "sua condição clínica", class:"form-control"%>

        <!-- FIELD "seu endereço" removed for pre-demoday presentation -->
        <!-- find it inside ReadME -->

        <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
      <% end %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm"><!--form -->
      <% if user_signed_in? %>

        <!-- Avatar showed when user is logged in + dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= image_tag user_picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-home"></i> <%= t(".profile", default: "Página inicial") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-user"></i>  <%= t(".profile", default: "Meu perfil") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Desconectar") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Entre"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn btn-primary btn-lg" %>
        <%= link_to t(".sign_up", default: "Cadastre-se"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link btn btn-primary btn-lg" %>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>


</div>
