<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ALENTO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>
  <body style="background-color:#eef1f5">
<!-- added to render devise alerts from views/shared -->
    <%= render 'shared/flashes' %>

<!-- added to render le wagon navbar -->
    <%= render 'shared/navbar' %>

    <%= yield %>
    <%= render 'shared/footer' %>

    <!-- Javascript lines added for geocoding -->
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


    <%= javascript_include_tag 'application' %>

    <%= yield(:js) %>
    <!-- added for geocoding -->
    <%= yield(:after_js) %>


    <!-- Image carousel -->
    <% content_for(:js) do %>
      $(document).ready(function() {
        $("#carousel-example-generic").carousel();

        // Enable Carousel Indicators
        $(".item").click(function(){
          $("#carousel-example-generic").carousel(1);
        });

        // Enable Carousel Controls
        $(".left").click(function(){
          $("#carousel-example-generic").carousel("prev");
        });
      });
    <% end %>
  </body>
</html>
